/*
Challenge 1
Make it so that the AnimalPen takes 3 seconds to transitions to the "brown"
background, instead of instantly switching.
*/

.AnimalPen {
    background: transparent;
}

.AnimalPen:hover {
    background: brown;
    transition-duration: 3s;
}




/*
Challenge 2
Make each part of the river grow in size (taking 2 seconds) when you move the
mouse over it.

HINT: Think about adjusting the height and width or padding on hover. Selectors
are written for you below.
*/

.River {
  transition: all 2s ease-in-out;
}

.River--part1:hover {
  transform: scale(1.2);
}

.River--part2:hover {
  transform: scale(5);

}

.River--part3:hover {
  transform: scale(2);

}




/*
Challenge 3
Make it so that the Rabbit repeatedly "hops" when you hover your cursor over
it.

HINT: The "Hop" animation is already written for you. Make sure you set
"animation-direction: alternate;" to make sure it bounces "back and forth" as
opposed to just leaping then "teleporting" back down, and also make sure you
make "animation-iteration-count: infinite" to make the bunny continually jump
for joy. Code below:
  animation-direction: alternate;
  animation-iteration-count: infinite;
*/

.Rabbit:hover {
    /* Add code here! */
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-name: Bounce;
    animation-timing-function: cubic-bezier(0.5, 0.05, 1,0.5);
    animation-duration: .3s;

}

@keyframes Bounce {
  from { transform: translate3d(0, 0, 0);    }
  to   { transform: translate3d(0, 50px, 0); }
}
@keyframes Slide {
  from {
    right: 10vw;
    top: 10vh;
  }
  to {
    right: 90vw;
    top: 40vh;
  }
}


/*
Challenge 4
The "rhythm" or timing of the motion of the hop isn't so great, is it? It
doesn't look very much like a hop. This is where a "timing function" comes into
play, also known in animation as "tweening" (since it refers to the
"in-between" states in an animation). We need to use a

HINT: Getting a good timing function can be difficult
*/
.Bear {
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation: Slide 6.0s 1s infinite alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1,0.5);
  animation-duration: 10s;
}

/*
Challenge 5
Make the bear slide around the screen continually.
*/


/*
Bonus Challenge:
Make it so that when you hover over the animals in the pen, they hop up and
spin around once.
*/


/*
Advanced Bonus Challenge:
Check out CSS filters to animate the grass and wheat appearance, such as by
gradually enhancing brightness and contrast.

(No solution provided.)
*/
