:root {
  --nav-height: 100px;
  --chat-height: 80px;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background: url('https://i.imgur.com/t5Rw5h6.png');
}

.App {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: var(--nav-height) 1fr var(--chat-height);
}

.NewMessage {
    grid-row: 3;
    grid-column: 2;
    background: white;
    display: grid;
    grid-template-columns: 1fr 110px 10px;
    grid-template-rows: 70px 10px;
}

.NewMessage input {
    font-size: 14pt;
    border: none;
    padding: 10px;
    margin: 15px;
}
